* {
    text-decoration: none!important;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#img-chi-tiet {
    max-width: 100%;
    height: auto;
    height: 11.5cm;
}
.statistics {
    margin-top: 40px;
    border: black 2px solid;
    padding: 12px;
    display: flex;
    border-radius: 7px;
}
.as {
    display: flex;
    flex-direction: column;
    margin-left: 45px;
    font-weight: 700;
    font-size: small;
}
#text-statis {
    font-size: larger;
}