.slides {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 17cm;
}
.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    animation: slide-show 12s infinite;
}
.slide-2 {
    animation-delay: 3s;
}
.slide-3 {
    animation-delay: 6s;
}
.slide-4 {
    animation-delay: 9s;
}
.silde_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@keyframes slide-show{
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    20%,30% {
        opacity: 1;
        scale: 1.05;
    }
    50% {
        opacity: 0;
    }
}
/* end lide show */

.title h1 {
    font-size: 35px;
    padding: 0;
    margin-top: 60px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.check-icon i {
    margin-top: 50px;
}
.icon {
    margin-top: 40px;
}
.search h4 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 50px;   
}
.search-box {
    background-color: #f4f4f4;
    height: 250px;
}
#input {
    margin-bottom: 10px;
}
.second-title {
    margin-top: 50px;
    margin-bottom: 50px;
}
* {
    text-decoration: none!important;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1;
}
.second-row {
    margin-top: 50px;
    margin-bottom: 150px;
}
.parallax {
    background-image: url(/assest/img/slider_06.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    padding: 90px 0;
    position: relative;
    width: 100%;
}
.stat-wrap {
    border: 1px dashed rgba(255, 255, 255, 0.3);
    padding: 20px 10px;
    background-color: rgba(255, 255, 255, 0.3);
}
.stat-wrap small {
    display: block;
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
    padding: 0;
    font-weight: normal;
    margin: 0;
    text-align: center;
}
.stat-wrap p {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
    padding: 25px 0;
    color: #ffffff;
    margin: 0;
}
.blog-wrapper h4 {
    font-size: 17px;
    line-height: 26px !important;
    padding: 20px 0 10px;
    margin: 0;
}
.blog-wrapper p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #999999;
    line-height: 26px;
}
.blog-meta ul {
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 5px solid #f4f4f4;
}
.blog-meta ul {
    display:inline-flex;
    font-size: 15px;
}
.list-inline li{
  margin-left: 10px;
}
